
<%= form_tag powers_path, method: :get do %>
<div class= "large-banner-index">
    <div class= "searchflexx">
		<%= select_tag "hero", options_from_collection_for_select(User.all, :id, :full_name),
		prompt:"Select a Hero", class: "form-control big-border-radius"%>

     <%= text_field_tag :query,
     params[:query],
     class: "form-control big-border-radius",
     placeholder: "Find a Power"%>

     <%= submit_tag "Search", class: "btn btn-primary big-border-radius" %>
   </div>
</div>

<% end %>


<div class='power-card-grid'>
  <%@powers.each do |power| %>
      <div class="power-card">
        <% if power.photo.attached? %>
          <%= link_to power_path(power) do %>
            <%= cl_image_tag power.photo.key, crop: :fill %>
          <% end %>
        <% end %>
        <h3 class="card-title"><strong><%= power.name %></strong></h3>
        <div class="card-text">
          <p><%= power.short_description %></p>
        </div>
        <span class="price-tag"><%= power.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %>$</span>
      </div>
  <% end %>
</div>



