

<div class="container d-flex justify-content-between">
  <div class="bigcard">
    <div class="card-pic">
      <% if @power.photo.attached? %>
        <%= cl_image_tag @power.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <h1 id="card-title">
      <%= @power.name %>
    </h1>
    <p style="margin-left: 10px;">Power owned by <strong><%= @power.user.full_name %></strong></p>
    <p style="margin-left: 10px;"><%=@power.long_description%></p>
    <div style="text-align: right">
      <span class="price-tag-big-card mr-3"><%= @power.price.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %>$</span>
    </div>
    <hr class="my-3">
    <div class="d-flex justify-content-center">
      <button style="margin-top: 0; margin-bottom: 20px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Rent Power</button>
    </div>
  </div>

  <div>
    <p style="margin-top: 70px" id="review"><strong>Reviews</strong></p>

    <div class="vertical-menu">
      <div class="row">
        <div class="card" style="width: 400px;">
          <h3 class="review_person">Review by mady@gmail.com     <strong>1/5</strong></h3>
          <p>I had higher hopes for this power. I feel a little ripped off!!</p>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 400px;">
          <h3 class="review_person">Review by Carlito_7665@hotmail.com     <strong>5/5</strong></h3>
          <p>I have been savinfg up to use this power for 8 years. It was the most amazing feeling in the world.
          I hope to be able to save enough for another go at it  in the next 10 years...</p>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 400px;">
          <h3 class="review_person">Review by bread_and_butter@gmail.com     <strong>4/5</strong></h3>
          <p>Great!!!</p>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 400px;">
          <h3 class="review_person">Review by hot_rods1234@lewagon.com     <strong>3/5</strong></h3>
          <p>Meh, Not going to be using from this super hero again!</p>
        </div>
      </div>
    </div>
  </div>

</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write a note to the hero for approval</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="text-align: center;">
		<h3><%= @power.name %></h3>
		<% if @power.photo.attached? %>
		 <%= cl_image_tag @power.photo.key, height: 300, width: 400, crop: :fill %>
		<% end %>
      	<%= simple_form_for [ @power, @rental ] do |f| %>
      	 <%= f.input :comment %>
      	 <%= f.submit "Submit Request", class: "btn btn-primary" %>
 		<% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


