  <footer>

    <p><%= link_to "All Powers", powers_path %></p>
    <p><%= link_to "Profile", profile_path %></p>
    <p><%= link_to "HomePage", root_path %></p>
    <p><%= link_to "Rental Requets", rentals_path%></p>
    <p><%= link_to "New Power", new_power_path %></p>

</footer>
