<div class="approval-card">
   <% if rental.user.photo.attached? %>
    <%= cl_image_tag rental.user.photo.key, class: "approval-card-avatar" %>
    <% else %>
    <i class="fas fa-user-tie"></i>
    <% end %>
      <div class="approval-card-infos">
        <p><strong><%= rental.user.full_name %></strong>'d like to rent a power</p>
        <p><strong><%= rental.power.name %></strong> - <%= rental.power.short_description %></p>
      </div>
      <p>comment :</p>
      <div>
        <%= rental.comment %>
      </div>
    <p><%= button_to 'Accept', accepted_path(rental), method: :patch %></p>
    <p><%= button_to 'Decline', declined_path(rental), method: :patch %></p>
  </div>