<div class="approval-card">
   <% if rental.user.photo.attached? %>
    <%= cl_image_tag rental.user.photo.key, class: "approval-card-avatar" %>
    <% else %>
    <i class="fas fa-user-tie approval-card-avatar-icon"></i>
    <% end %>
    <div class="info-comment">
        <div class="approval-card-infos">
            <p style="font-size: 15px"><strong><%= rental.user.full_name %></strong> would like to rent your power:</p>
            <p style="font-size: 15px"><strong><%= rental.power.name %></strong> - <%= rental.power.short_description %></p>
        </div>
        <div class="comment-buttons">
            <div class="comment">
                <p style="font-size: 15px"><strong>Comment :</strong></p>
                <p style="font-size: 15px"><%= rental.comment %></p>
            </div>
            <div class="buttons">
                <div>
                    <%= link_to 'Accept', accepted_path(rental), method: :patch, class: "btn btn-primary approval-button" %>
                </div>
                <div>
                    <%= link_to 'Decline', declined_path(rental), method: :patch, class: "btn btn-secondary approval-button" %>
                </div>
            </div>
        </div>
    </div>
  </div>
