<h2><% @pending_rentals.each do |rental| %> 
  <%= rental.user.full_name %>
  <% end %>  
</h2>
<%# <p><%= @pending_rentals.email %></p> %>

<%# <h2><%= @pending_rentals.name %></h2> %>
<%# <p><%= @pending_rentals.comment %></p> %>

<%# <p><%= link_to "Approve", profile_path %></p>
<%# <p><%= link_to "Refuse", profile_path %></p> %> %>