<div class="small-banner">
</div>

<div class="human-main-box">
  <div class="human-avatar-box">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "human-profile-avatar" %>
      <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/Papillard", class: "human-profile-avatar" %>
      <% end %>
      <h3><%= current_user.full_name %></h3>
  </div>
  <div class="powers-renting">
    <div class="pending-rentals">
      <h2>Pending Rentals</h2>

      <div class="pending-rental-card">
        <% @rentals.each do |rental| %>
          <% if rental.status == nil %>
            <div class="card-product">
              <%= cl_image_tag rental.power.photo.key, crop: :fill %>
              <div>
                <h3><%= rental.power.name %></h3>
                <p><%= rental.power.short_description %></p>
              </div>
            </div>
            <% end %>
        <% end %>
      </div>

    </div>

    <div class="historical">
      <h2>Historical</h2>

      <div class="pending-rental-card">
        <% @rentals.each do |rental| %>
          <% if rental.status == true %>
            <div class="card-product">
              <%= cl_image_tag rental.power.photo.key, crop: :fill %>
              <div>
                <h3><%= rental.power.name %></h3>
                <p><%= rental.power.short_description %></p>
              </div>
            </div>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

